@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Default Accent: Teal */
  --accent-100: 204 251 241;
  --accent-500: 20 184 166;
  --accent-600: 13 148 136;
  --accent-900: 19 78 74;
}

[data-accent="teal"] {
  --accent-100: 204 251 241;
  --accent-500: 20 184 166;
  --accent-600: 13 148 136;
  --accent-900: 19 78 74;
}

[data-accent="indigo"] {
  --accent-100: 224 231 255;
  --accent-500: 99 102 241;
  --accent-600: 79 70 229;
  --accent-900: 49 46 129;
}

[data-accent="rose"] {
  --accent-100: 255 228 230;
  --accent-500: 244 63 94;
  --accent-600: 225 29 72;
  --accent-900: 136 19 55;
}

[data-accent="amber"] {
  --accent-100: 254 243 199;
  --accent-500: 245 158 11;
  --accent-600: 217 119 6;
  --accent-900: 120 53 15;
}
